In [1]:
import json
import psycopg2
from displayGemList import generate_recipe
import pandas as pd

In [2]:
conn = psycopg2.connect(host="localhost",user="antopher",password="4S&7Ya", dbname="testone")
c = conn.cursor()
recipies = generate_recipe()
prices={}

In [3]:
c.execute("SELECT ingredient_type,price FROM ingr WHERE time_stamp = (SELECT MAX(time_stamp) FROM ingr) ORDER BY ingredient_type ASC, price ASC")
currentlistings = c.fetchall()
df = pd.DataFrame(currentlistings, columns=['ingredient_type','price'])

In [4]:
df.head()

          ingredient_type     price
0  Aberration Mind Source  30000000
1  Aberration Mind Source  32974900
2  Aberration Mind Source  32974999
3  Aberration Mind Source  32975000
4  Aberration Mind Source  33000000

In [5]:
for gemrecipe in recipies:
	cost=0
	for ingr_item in recipies[gemrecipe]:
		cost=cost+(df.loc[df['ingredient_type']==ingr_item,['price']].iloc[0])*20
	prices[gemrecipe]= list(cost)

In [6]:
print(prices)

{'Strength': [3978833320], 'Solidifying': [10399000000], 'Endurance': [1057400000], 'Murdering': [2444444440], 'Swiftness': [3060000000], 'Hunting': [11453093480], 'Destruction': [9477777760], 'Coordination': [14744355480], 'Elusion': [4400000000], 'Restoration': [2620000000], 'Taming': [6130733320], 'Normalizing': [1240000000], 'Sorcery': [2085999980], 'Retaliation': [2804444440], 'Brawling': [2190000000], 'Piercing': [11359999980], 'Weathering': [5706000000], 'Mastery': [9686000000], 'Charming': [10348799980], 'Recklessness': [3140000000], 'Resilience': [3330000000], 'Potency': [8952888840], 'Luck': [11588888860], 'Etching': [2940000000], 'Smithing': [4380000000], 'Wisdom': [1099999980], 'Agility': [9500000000], 'Slaying': [4623899940], 'Exterminating': [11459999980], 'Weedwhacking': [5224833300], 'Harvesting': [13179999980], 'Recovery': [9899999960], 'Celerity': [11155555500], 'Sniping': [6719999980], 'Greed': [1158899980], 'Retribution': [2160000000], 'Chronokinesis': [15555315720], 'Dueling': [3039999980], 'Health': [8099333320]}

In [7]:
pricedf = pd.DataFrame(prices)

In [8]:
pricedf.head()

,Agility,Brawling,Celerity,Charming,Chronokinesis,Coordination,Destruction,Dueling,Elusion,Endurance,...,Smithing,Sniping,Solidifying,Sorcery,Strength,Swiftness,Taming,Weathering,Weedwhacking,Wisdom
0,9500000000,2190000000,11155555500,10348799980,15555315720,14744355480,9477777760,3039999980,4400000000,1057400000,...,4380000000,6719999980,10399000000,2085999980,3978833320,3060000000,6130733320,5706000000,5224833300,1099999980

In [9]:
prices_df = pricedf.transpose()
prices_df.columns = ['price']
prices_df.head()

                     price
Agility         9500000000
Brawling        2190000000
Celerity       11155555500
Charming       10348799980
Chronokinesis  15555315720

In [10]:
target_name = prices_df.idxmin().item()
target_price = prices_df.min().item()
print(target_name, target_price)

Endurance 1057400000

In [ ]:
Aberration Mind Source	2,893	29,999,999	[Market] [Send]
Animal Eye	4,785	199,999,989	[Market] [Send]
Animal Tongue	21,295	76,000,000	[Market] [Send]
Animal Tooth	1,022	75,999,998	[Market] [Send]
Animal Wing	2,105	15,998,999	[Market] [Send]
Beast Fur	6,175	1,200,000	[Market] [Send]
Beast Limb	6,152	3,900,000	[Market] [Send]
Beast Tooth	2,484	88,000,000	[Market] [Send]
Beast Wing	1,762	56,666,666	[Market] [Send]
Bird Nest	588	488,000,000	[Market] [Send]
Bone Shard	3	18,000,000,000	[Market] [Send]
Chunk of Coal	1	125,000,000	[Market] [Send]
Chunk of Graphite	2,703	33,335,333	[Market] [Send]
Construct Power	5,169	49,000,000	[Market] [Send]
Copper Ore	1,408	83,999,998	[Market] [Send]
Dragon Eye	816	264,000,000	[Market] [Send]
Dragon Scale	8,199	3,200,000	[Market] [Send]
Dragon Tail	6,814	1,300,000	[Market] [Send]
Ectoplasmic Residue	1	N/A	[Market] [Send]
Elemental Energy	6,002	9,000,000	[Market] [Send]
Fish Fin	863	25,000,000	[Market] [Send]
Golden Apple	3,208	50,000,000	[Market] [Send]
Honeycomb	5,511	12,000,000	[Market] [Send]
Humanoid Bone	19	98,700,000	[Market] [Send]
Humanoid Flesh	1,209	36,000,000	[Market] [Send]
Humanoid Limb	4,446	9,000,000	[Market] [Send]
Lucky Coin	20	325,000,000	[Market] [Send]
Magical Stone	1,601	118,000,000	[Market] [Send]
Octopus Ink	3,353	133,000,000	[Market] [Send]
Ooze Gel	3,288	15,000,000	[Market] [Send]
Plant Branch	2,029	76,666,665	[Market] [Send]
Plant Leaf	3,529	7,777,776	[Market] [Send]
Plant Root	425	33,000,000	[Market] [Send]
Plant Vine	3,385	63,000,000	[Market] [Send]
Protection Stone	2,729	62,999,999	[Market] [Send]
Rainbow Shard	78	350,000,000	[Market] [Send]
Rune Stone	1	450,000,000	[Market] [Send]
Serpent Eye	984	344,000,000	[Market] [Send]
Serpent Tail	623	2,500,000	[Market] [Send]
Serpent Tongue	2,709	55,000,000	[Market] [Send]
Shadow Stone	13	16,000,000,000	[Market] [Send]
Squid Tentacle	315	188,000,000	[Market] [Send]
Turkey Feather	12	N/A	
Turtle Shell	2,583	89,900,000	[Market] [Send]
Vermin Eye	8,593	6,666,666	[Market] [Send]
Vermin Tooth	2,598	50,000,000	[Market] [Send]
Vial of Dust	2	3,000,000,000	[Market] [Send]
Yellow Pollen	1,581	112,000,000	[Market] [Send]

In [12]:
xx = input()

 Aberration Mind Source	3,161	30,000,000	[Market] [Send] Animal Eye	4,963	217,777,776	[Market] [Send] Animal Tongue	20,122	125,000,000	[Market] [Send] Animal Tooth	1,216	139,999,999	[Market] [Send] Animal Wing	2,476	89,876,899	[Market] [Send] Beast Fur	4,470	2,870,000	[Market] [Send] Beast Limb	6,349	66,666,666	[Market] [Send] Beast Tooth	2,691	12,000,000	[Market] [Send] Beast Wing	1,686	225,000,000	[Market] [Send] Bird Nest	500	480,000,000	[Market] [Send] Bone Shard	3	N/A	[Market] [Send] Chunk of Coal	1	214,000,000	[Market] [Send] Chunk of Graphite	2,703	48,000,000	[Market] [Send] Construct Power	2,352	32,000,000	[Market] [Send] Copper Ore	1,408	54,950,000	[Market] [Send] Dragon Eye	1,027	225,000,000	[Market] [Send] Dragon Scale	8,553	3,000,000	[Market] [Send] Dragon Tail	7,142	2,900,000	[Market] [Send] Ectoplasmic Residue	1	1,111,111,111,110	[Market] [Send] Elemental Energy	6,200	4,300,000	[Market] [Send] Fish Fin	842	60,000,000	[Market] [Send] Golden Apple	1,306	50,000,000	[Market] [Send] Honeycomb	5,511	105,000,000	[Market] [Send] Humanoid Bone	316	42,222,222	[Market] [Send] Humanoid Flesh	1,402	75,000,000	[Market] [Send] Humanoid Limb	4,661	5,000,000	[Market] [Send] Lucky Coin	20	444,444,443	[Market] [Send] Magical Stone	1,601	99,999,999	[Market] [Send] Octopus Ink	3,353	85,000,000	[Market] [Send] Ooze Gel	3,468	135,000,000	[Market] [Send] Plant Branch	2,210	84,275,000	[Market] [Send] Plant Leaf	3,699	24,966,666	[Market] [Send] Plant Root	615	56,000,000	[Market] [Send] Plant Vine	3,561	95,999,999	[Market] [Send] Protection Stone	2,729	79,500,000	[Market] [Send] Rainbow Shard	78	288,888,888	[Market] [Send] Rune Stone	1	398,999,999	[Market] [Send] Serpent Eye	1,154	294,439,999	[Market] [Send] Serpent Tail	820	98,000,000	[Market] [Send] Serpent Tongue	2,982	125,000,000	[Market] [Send] Shadow Stone	13	13,999,999,999	[Market] [Send] Squid Tentacle	326	240,000,000	[Market] [Send] Turkey Feather	12	N/A	 Turtle Shell	2,562	87,000,000	[Market] [Send] Vermin Eye	8,767	68,000,000	[Market] [Send] Vermin Tooth	2,780	24,999,999	[Market] [Send] Vial of Dust	2	5,432,109,875	[Market] [Send] Yellow Pollen	1,581	330,000,000	[Market] [Send]

In [13]:
print(len(xx))
#print(xx)

2162

In [14]:
xy = xx.split('[Market] [Send]')
#xy = xx.split("\n")
print(len(xy))

48

In [33]:
print(xy)

['Aberration Mind Source\t2,893\t22,000,000\t', ' Animal Eye\t4,785\t189,000,000\t', ' Animal Tongue\t21,295\t34,900,000\t', ' Animal Tooth\t1,022\t42,000,000\t', ' Animal Wing\t2,105\t22,999,999\t', ' Beast Fur\t4,880\t1,245,000\t', ' Beast Limb\t6,152\t4,494,999\t', ' Beast Tooth\t2,484\t46,500,000\t', ' Beast Wing\t1,762\t40,000,000\t', ' Bird Nest\t588\t487,000,000\t', ' Bone Shard\t3\t18,000,000,000\t', ' Chunk of Coal\t1\t103,500,000\t', ' Chunk of Graphite\t2,703\t33,335,332\t', ' Construct Power\t5,169\t48,000,000\t', ' Copper Ore\t1,408\t82,999,999\t', ' Dragon Eye\t816\t199,696,969\t', ' Dragon Scale\t8,199\t1,499,998\t', ' Dragon Tail\t6,814\t1,099,999\t', ' Ectoplasmic Residue\t1\tN/A\t', ' Elemental Energy\t6,002\t6,999,999\t', ' Fish Fin\t842\t24,500,000\t', ' Golden Apple\t1,926\t70,000,000\t', ' Honeycomb\t5,511\t11,000,000\t', ' Humanoid Bone\t19\t67,500,000\t', ' Humanoid Flesh\t1,209\t19,999,000\t', ' Humanoid Limb\t4,446\t7,900,000\t', ' Lucky Coin\t20\t250,000,000\t', ' Magical Stone\t1,601\t60,000,000\t', ' Octopus Ink\t3,353\t100,000,000\t', ' Ooze Gel\t3,288\t11,750,000\t', ' Plant Branch\t2,029\t75,000,000\t', ' Plant Leaf\t3,529\t7,000,000\t', ' Plant Root\t425\t30,000,000\t', ' Plant Vine\t3,385\t59,000,000\t', ' Protection Stone\t2,729\t39,999,999\t', ' Rainbow Shard\t78\t315,000,000\t', ' Rune Stone\t1\t300,000,000\t', ' Serpent Eye\t984\t288,999,999\t', ' Serpent Tail\t623\t2,000,000\t', ' Serpent Tongue\t2,709\t33,999,999\t', ' Shadow Stone\t13\t15,000,000,000\t', ' Squid Tentacle\t315\t179,900,000\t', ' Turkey Feather\t12\tN/A\t Turtle Shell\t2,562\t88,000,000\t', ' Vermin Eye\t8,593\t6,000,000\t', ' Vermin Tooth\t2,598\t50,000,000\t', ' Vial of Dust\t2\t3,000,000,000\t', ' Yellow Pollen\t1,581\t110,000,000\t', '']

In [15]:
get_rid_of_turkeys = []
for line in xy:
    if line[0:8] == " Turkey ":
        line = line[23:]
    if line[0:1] == " ":
        line = line[1:]
    get_rid_of_turkeys.append(line)
#    print(len(line), line, type(line))

In [16]:
list_of_list = []
for line in get_rid_of_turkeys:
    zline = line.split('\t')
    list_of_list.append(zline)

In [17]:
zz = pd.DataFrame(list_of_list, columns=['ingr','stock','price','blank'])
zz = zz[['ingr','stock','price']]
df = zz.set_index('ingr')

In [18]:
print(df.loc['Animal Eye','stock'])

4,963

In [19]:
df = df.replace(',', "", regex=True)
df= df.drop(df.tail(1).index)

In [21]:
df = df.drop(df[df['price'] == 'N/A'].index)
df['stock'] = df['stock'].astype(int)
df['price'] = df['price'].astype(int)

In [25]:
df['total_bank'] =df['stock'] * df['price']
TotalBank = df['total_bank'].sum()
MostIngr = df['stock'].max()
print("Total Current Market Value of Ingrs is ",TotalBank)
print("The highest quantity of ingrs is",MostIngr)

Total Current Market Value of Ingrs is  11996739738990
The highest quantity of ingrs is 20122